* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 100%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header {
    background-color: #255EE9;
    width: 100%;
    height: 70px;
    text-align: center;
    top: 0;
    left: 0;       
}

.menu {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
}

.category {
    text-align: center;
    display: inline-block;
}

.category li {
    display: inline-block;   
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.category li:hover {
    text-decoration: underline ;
}

.logo:hover,
.category li:hover,
.login:hover {
    cursor: pointer;
}

.login {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 5px 10px;
    border-radius:  15px;
}

/* / HEADER */

/* BANNER */
.banner {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
    color: white;
}

.banner-title {
    font-size: 50px;
    margin-bottom: 40px;
}

.banner-text {
    font-size: 16px;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 15px 25px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.black {
    background-color: black;
    color: white;
}

/* / BANNER */

/* MAIN */

.white-main {
    width: 100%;    
    background-color: #FFFFFF;
}

.section {
    width: 1100px;
    margin: 0 auto;
    padding: 80px;

}

.section img{
    float: left;
    width: calc(100% / 2);
    display: inline-block;
    
}

.main-wrap {
    position: relative;
    float: left;
    display: inline-block;
    width: calc(100% / 2);
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-title {
    font-size: 35px;
    margin-bottom: 20px;
}

.gray-main {
    width: 100%;    
    background-color: #F6F6F6;
}

.gray-main:last-child .main-wrap {
    float: none;
    display: block;
    width: auto;
}

.gray-main:last-child img {
    float: none;
    display: block;
    width: auto;
}

.stars {
    font-size: 20px;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    margin-bottom: 100px;
}
.last-button {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background-color:#82baff;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
/* / MAIN */

/* FOOTER */
footer {
    background-color: #23272a;
    padding-top: 50px;
    width: 100%;
}

.container-footer {
    width: 1100px;
    margin: 0 auto;
    padding: 50px;
}

.first-col {
    float: left;
    width: calc((100% / 6) * 2);
}

.col {
    float: left;
    width: calc(100% / 6);
}

.first-col h2  {
    color: #4890e9;
    font-size: 32px;
    margin-bottom: 20px;
}

.flag {
    display: inline-block;
    height: 15px;
}

.lang-ita {
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
    color: white;
}

.icons i {
    margin-right: 20px;
    color: white;
    font-size: 20px;
}

.col li {
    color:#4890e9;
    margin: 10px;
    list-style: none;
}

.col li a {
    color: white;
    text-decoration: none;
}

.foot-bottom {
    width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
    border-top:1px solid gray;
}

.foot-bottom img {
    float: left;
    height: 30px;
}

.foot-bottom .button {
    float: right;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    background-color: #82baff;
    color: white;
}
/* /FOOTER */

